<div class="filter--container">
    <mat-card class="mat-elevation-z8">
        <mat-card-header class="filter--card-header">
            <mat-card-title>
                <h2>FILTER</h2>
            </mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content class="filter--card-content">
            <form [formGroup]="searchByForm">
                <mat-form-field>
                    <span matPrefix class="search-prefix">
                        <mat-icon>search</mat-icon>
                    </span>
                    <mat-label>Input data</mat-label>
                    <input matInput placeholder="Input data" formControlName="inputData">
                    <button mat-icon-button matSuffix class="search-suffix" (click)="clearFormValue('inputData')">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field>
                    <span matPrefix class="search-prefix">
                        <mat-icon>search</mat-icon>
                    </span>
                    <mat-label>Predicted value</mat-label>
                    <input matInput placeholder="Predicted value" formControlName="predictedConcept">
                    <button mat-icon-button matSuffix class="search-suffix" (click)="clearFormValue('predictedConcept')">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field>
                    <span matPrefix class="search-prefix">
                        <mat-icon>search</mat-icon>
                    </span>
                    <mat-label>Name of AI</mat-label>
                    <input matInput placeholder="Name of AI" formControlName="name">
                    <button mat-icon-button matSuffix class="search-suffix" (click)="clearFormValue('name')">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </form>

        </mat-card-content>
    </mat-card>
</div>
