.whats-next-wrapper{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.whats-re-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
 align-items: center;
}
