@import "projects/shared-lib/src/lib/styles/main.scss";

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action-buttons-row {
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;

  button {
    margin-right: 10px;
  }
}

.workflow-detail-container {
  form {
    display: flex;
    flex-direction: row;

    &.is-x-small-screen {
      display: flex;
      flex-direction: column;

      mat-form-field {
        width: 100%;
      }
    }
  }

  &--name {
    width: 30%;
  }

  &--description {
    width: 70%;
  }

  mat-form-field:first-child {
    padding-right: 20px;
  }

  .workflow-status-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    &.is-x-small-screen {
      flex-direction: column;

      mat-card {
        margin-inline: 0;
      }

      mat-card:first-child {
        margin-block-end: 10px;
      }
    }

    flex-direction: row;

    mat-card-subtitle {
      font-size: small;
    }

    &--status {
      margin-right: 20px;
    }
  }
}

.confirm-buttons-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-block: 20px;
}
