@if (app && app.versions) {
  <table mat-table [dataSource]="app.versions" class="mat-elevation-z8">


    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef class="version-column"> Version</th>
      <td mat-cell *matCellDef="let element" class="version-column">
        {{ element.appVersion }}
        @if (isSelectedVersion(element)) {
          <span class="latest-tag">Current</span>
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef class="version-column"> Created</th>
      <td mat-cell *matCellDef="let element" class="version-column"> {{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="changelog">
      <th mat-header-cell *matHeaderCellDef> Changelog</th>
      <td mat-cell *matCellDef="let element"> {{ element.changelog }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="action-column"></th>
      <td mat-cell *matCellDef="let element" class="action-column">

        <button mat-icon-button [matMenuTriggerFor]="appTableMenu"
                [matMenuTriggerData]="{appVersion: element}"
                aria-label="Context Menu for each app version">
          <mat-icon>more_vert</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [class]="isSelectedVersion(row) ? 'selected-version' : ''"></tr>
  </table>

  <mat-menu #appTableMenu="matMenu">
    <ng-template matMenuContent let-appVersion="appVersion">
      <button mat-menu-item (click)="openVersion(appVersion)">
        <mat-icon>fullscreen</mat-icon>
        <span>View</span>
      </button>
      @if (!isSelectedVersion(appVersion)) {
        <button mat-menu-item (click)="useSpecificVersion(appVersion)">
          <mat-icon>check_box</mat-icon>
          <span>Select</span>
        </button>
      }
    </ng-template>
  </mat-menu>
}
