@import "projects/shared-lib/src/lib/styles/main.scss";

.cohort-patients-container {
  margin-top: 20px;

  .action-buttons-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;

    button {
      margin: 20px 10px 20px 0;
    }

    &--header {
      margin-bottom: 20px;
    }
  }
}

