<div class="dialog">
    <h1 mat-dialog-title class="dialog--header">
        Applications
    </h1>

    <mat-divider />

    <div mat-dialog-content class="dialog--content applications-content">
        <div *ngIf="applications.length === 0">
            NO APPLICATIONS
        </div>

        <div class="applications-container">

            <mat-grid-list [cols]="cols" [rowHeight]="rowHeight" gutterSize="10px" class="applications-container--grid-list">
                <mat-grid-tile *ngFor="let application of applications" class="mat-elevation-z6">

                    <mat-card class="applications-container--card">
                        <mat-card-header>
                            <mat-card-title-group>
                                <mat-card-title class="applications-container--card-title">{{ application.name }}</mat-card-title>
                            </mat-card-title-group>
                        </mat-card-header>
                        <img mat-card-image [src]="application.image" alt="Application image">
                        <mat-card-content class="applications-container--card-content">
                            <p [ngClass]="'application-description-' + screenSize">{{ application.description }}</p>
                            <button mat-raised-button color="primary" [disabled]="isApplicationAdded(application.id)" (click)="onAddApplication(application.id)">
                                Add
                            </button>
                        </mat-card-content>
                    </mat-card>

                </mat-grid-tile>
            </mat-grid-list>

        </div>
    </div>

    <mat-divider />

    <div mat-dialog-actions class="dialog--footer">
        <button mat-raised-button color="secondary" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">{{ getSubmitButtonLabel() }}</button>
    </div>
</div>
