<div class="container">
    <div class="header-row">
        <button mat-icon-button (click)="onGoBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>

        <h2>{{ query.name }}</h2>
    </div>

    <div class="action-buttons-row">
        <button mat-raised-button color="primary" routerLink="new">
            Add new workflow
        </button>
    </div>

    <mat-table [dataSource]="workflowList" class="mat-elevation-z8" [class.is-x-small-screen]="isXSmallScreen">
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Action:</span>
                <button mat-icon-button color="primary" [routerLink]="[element.id, 'edit']">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(element.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Name:</span>
                <span>{{ element.name }}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Description:</span>
                <span>{{ element.description }}
                </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="applications">
            <mat-header-cell *matHeaderCellDef>Applications</mat-header-cell>
            <mat-cell *matCellDef="let element" class="applications">
                <span *ngIf="isXSmallScreen" class="column-name">Applications:</span>
                <span>{{ getApplicationsLabel(element.applications) }}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Status:</span>
                <span>{{ getWorkflowStatus(element.status) }}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
