.wrapper {

  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    margin-bottom: 10px;

    mat-form-field {
      width: 100%;
    }
  }
  button{
    height: 56px;
  }
}
