@if (!editMode) {
  @if (isPredictionMode()) {
    <mat-icon class="mode-icon"
              matTooltip="This Param is used for Prediction"
    >online_prediction
    </mat-icon>
  } @else if (isTrainingMode()) {
    <mat-icon
      matTooltip="This Param is used for Training"
      class="mode-icon">model_training
    </mat-icon>
  } @else {
    <mat-icon
      matTooltip="This Param is used for Training and Prediction"
      class="mode-icon">clear_all
    </mat-icon>
  }
}
@if (editMode) {
  <mat-form-field [class]="hasSpace? 'space':'no-space'">
    <mat-label>Mode</mat-label>
    <mat-select [(value)]="editedMode" (selectionChange)="changeMode()"
                panelWidth="200px">
      @for (mode of getAllModes(); track mode) {
        <mat-option [value]="mode">{{ mode }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
}
