<div class="training">
  <h2>Pending Training Requests</h2>

  @if(error(); as err){
    <lib-error-card>
      {{err}}
    </lib-error-card>
  }
  <mat-table [dataSource]="trainings()" class="mat-elevation-z0" [class.is-x-small-screen]="isXSmallScreen()">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>{{ 'GRID.NAME' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (isXSmallScreen()) {
          <span class="column-name">{{ 'GRID.NAME' | translate }}:</span>
        }
        <span>{{ element.project.name }}</span>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="requestedData">
      <mat-header-cell *matHeaderCellDef>{{ 'GRID.REQUESTED_DATA' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="requested-data">
        @if (isXSmallScreen()) {
          <span class="column-name">{{ 'GRID.REQUESTED_DATA' | translate }}:</span>
        }
        <span>
          @for (cohort of getRequestCohorts(element.requestPatients); track cohort.id) {
            <div class="col-entry-padding">
                {{ cohort.name + ' (' + getPatientCountForCohort(element.requestPatients, cohort.id) + ' ' + ('SAMPLES' | translate) + ')' }}
              <br>
              </div>
          } @empty {
            <div class="col-entry-padding">
              {{ 'EMPTY_VALUE' | translate }}
            </div>
          }
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>{{ 'GRID.DATE' | translate }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if (isXSmallScreen()) {
          <span class="column-name">{{ 'GRID.DATE' | translate }}:</span>
        }
        <span>{{ element.createdAt | date }}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" />
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="openLearningRequestModal(row.id)" />
  </mat-table>
  <mat-paginator [length]="resultsLength()" [pageSize]="INIT_PAGE_SIZE"
                 aria-label="Select page of Trainings search results" />
  @if (isLoadingResults()) {
    <mat-progress-bar mode="indeterminate" />
  }
</div>
