<div class="training">
  <h2>Trainings</h2>

  <mat-table [dataSource]="trainings" class="mat-elevation-z8" [class.is-x-small-screen]="isXSmallScreen">
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Action:</span>
        <button mat-icon-button color="primary" [class.hide]="!isTrainingPending(element.status)"
                (click)="acceptTraining($event, element.id)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button color="warn" [class.hide]="!isTrainingPending(element.status)"
                (click)="rejectTraining($event, element.id)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">User:</span>
        <span>{{ element.platformUserId }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="requestedData">
      <mat-header-cell *matHeaderCellDef>Requested Data</mat-header-cell>
      <mat-cell *matCellDef="let element" class="requested-data">
        <span *ngIf="isXSmallScreen" class="column-name">Requested Data:</span>
        <span>
          @for (cohort of element.requestPatients; track cohort.cohortId) {
            <!-- Add only if cohort is valid -->
            @if (getNameForCohort(cohort.cohortId)) {
              <div class="col-entry-padding">
                {{ getNameForCohort(cohort.cohortId) + ' (' + cohort.patientIds.length + ' Samples)' }}
                <br>
              </div>
            }
          }
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Description:</span>
        <span>{{ element.description }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Date:</span>
        <span>{{ element.createdAt | date }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Status:</span>
        <span [class.pending]="isTrainingPending(element.status)">{{ element.status }}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="openLearningRequestModal(row.id)"></mat-row>
  </mat-table>
  <mat-paginator [length]="resultsLength" [pageSize]="30"
                 aria-label="Select page of GitHub search results"></mat-paginator>

</div>
