<div class="container">
    <div class="header-row">
        <button mat-icon-button (click)="onGoBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <div class="model-detail-content">
        <div class="model-detail-content--header" [ngClass]="'header-container-size-' + screenSize">
            <img [src]="model.imageUrl" [alt]="model.name">

            <div class="detail-column">
                <div class="detail-column--author">
                    <mat-icon>person</mat-icon>
                    <h4>
                        {{ model.author }}
                    </h4>
                </div>

                <div class="detail-column--name">
                    <h2>
                        {{ model.name }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="model-detail-content--description">
            <div class="input-data">
                <h3>Input Data</h3>
                <p>{{ model.inputData }}</p>
            </div>

            <div class="predicted-concept">
                <h3>Predicted Concept</h3>
                <p>{{ model.predictedConcept }}</p>
            </div>
        </div>

        <div class="model-detail-content--predict-input">
            <h3>
                Drag input data here to predict
            </h3>
            <lib-drag-and-drop-file
                    [files]="filesForm.get('files')"
                    (filesChange)="filesChanged($event)"
            />
            <button mat-raised-button color="primary" [disabled]="!hasInputFiles()" (click)="onPredict()">
                Predict using this AI
            </button>
        </div>
    </div>
</div>
