<div class="container">
    <div class="action-buttons-row">
        <button mat-raised-button color="primary" (click)="onCreateQuery()">
            Add a new query
        </button>
    </div>

    <mat-table [dataSource]="queryList" class="mat-elevation-z8" [class.is-x-small-screen]="isXSmallScreen">
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef >Action</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div *ngIf="isLargeScreen || isXSmallScreen; else showMenu">
                    <span *ngIf="isXSmallScreen" class="column-name">Action:</span>
                    <button mat-icon-button color="primary" (click)="onRunQuery(element.id)" [disabled]="hasWorkflowWithRequestedTraining(element.id)">
                        <mat-icon>play_arrow</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" (click)="onEditQuery(element.id)" [disabled]="hasWorkflowWithRequestedTraining(element.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" [routerLink]="[element.id, 'workflows']" [disabled]="!isExecuted(element.id)">
                        <mat-icon>account_tree</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="onDeleteQuery(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <ng-template #showMenu>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-icon-button color="primary" (click)="onRunQuery(element.id)" [disabled]="hasWorkflowWithRequestedTraining(element.id)">
                            <mat-icon>play_arrow</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" (click)="onEditQuery(element.id)" [disabled]="hasWorkflowWithRequestedTraining(element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" [routerLink]="[element.id, 'workflows']" [disabled]="!isExecuted(element.id)">
                            <mat-icon>account_tree</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="onDeleteQuery(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-menu>
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Name:</span>
                <span>{{element.name}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Description:</span>
                <span>{{element.description}}</span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="queryString">
            <mat-header-cell *matHeaderCellDef>Query string</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Query string:</span>
                <span>{{ element.queryString }}</span>
            </mat-cell>
            <!--            <mat-cell *matCellDef="let element" [matTooltip]="element.queryString"> {{ (element.queryString | slice:0:75) + (element.queryString.length > 100 ? '...' : '') }} </mat-cell>-->
        </ng-container>

        <ng-container matColumnDef="result">
            <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <span *ngIf="isXSmallScreen" class="column-name">Result:</span>
                <span>{{ getResultLabel(element.result) }}</span>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</div>
