.tab-header-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

mat-tab-nav-panel {
  display: block;
  margin-top: 30px;
}

lib-workflow-view {
  height: calc(100vh - 140px);
}

app-create-datasets{
  margin-top: 20px;
  display: block;
}
