<div class="container">
  <div class="header-row">
    <button mat-icon-button (click)="onGoBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h2>{{ getWorkflowDetailPageTitle() }}</h2>
  </div>

  <div class="action-buttons-row">
    <button mat-raised-button color="primary" (click)="onBrowseApps()" [disabled]="isWorkflowDisabled()">
      Browse apps
    </button>
    <div *ngIf="!isWorkflowDisabled(); else elseBlock">
      <button mat-raised-button color="primary" (click)="onRequestTraining()"
              [disabled]="isRequestTrainingDisabled()">
        Request training
      </button>
    </div>
    <ng-template #elseBlock>
      <button mat-raised-button color="primary" (click)="onStartTraining()">
        Start training
      </button>
    </ng-template>
  </div>

  <div class="workflow-detail-container">
    <div class="workflow-status-container" [class.is-x-small-screen]="isXSmallScreen">
      <mat-card class="workflow-status-container--status mat-elevation-z8">
        <mat-card-header>
          <mat-card-subtitle>Status</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{ getWorkflowStatus() }}</mat-card-content>
      </mat-card>

      <mat-card class="workflow-status-container--status-remark mat-elevation-z8">
        <mat-card-header>
          <mat-card-subtitle>Status Remark</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>{{ getWorkflowStatusRemark() }}</mat-card-content>
      </mat-card>
    </div>

    <form [formGroup]="workflowDetailForm" [class.is-x-small-screen]="isXSmallScreen">
      <mat-form-field class="workflow-detail-container--name">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name of the workflow" formControlName="name" required>
      </mat-form-field>

      <mat-form-field class="workflow-detail-container--description">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Workflow description" rows="1" formControlName="description" required>
        </textarea>
      </mat-form-field>
    </form>
  </div>

  <mat-table [dataSource]="workflowApplications" class="mat-elevation-z8" [class.is-x-small-screen]="isXSmallScreen"
             cdkDropList [cdkDropListData]="workflowApplications" (cdkDropListDropped)="dropTable($event)"
  >
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Action:</span>
        <button mat-icon-button color="primary" (click)="onArrowUpward(element.id)" [disabled]="isWorkflowDisabled()">
          <mat-icon>arrow_upward</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="onArrowDownward(element.id)" [disabled]="isWorkflowDisabled()">
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(element.id)" [disabled]="isWorkflowDisabled()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Application name</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Application name:</span>
        <span>{{ element.name }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Description:</span>
        <span>{{ element.description }}</span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"
             [cdkDragDisabled]="isWorkflowDisabled()"></mat-row>
  </mat-table>

  <div class="confirm-buttons-row">
    <button mat-raised-button color="primary" (click)="onSubmitWorkflow()" [disabled]="isWorkflowDisabled()">
      {{ getConfirmButtonLabel() }}
    </button>
  </div>
</div>
