<div class="dialog">
    <h1 mat-dialog-title class="dialog--header">
        {{ getDialogTitle() }}
    </h1>

    <mat-divider />

    <mat-dialog-content class="dialog--content">
        <form [formGroup]="permissionForm">
            <mat-form-field>
                <mat-label>Cohort</mat-label>
                <mat-select formControlName="cohort" multiple (selectionChange)="cohortSelectionChange($event)">
                    <mat-option *ngFor="let cohort of cohortSelectOptions" [value]="cohort.value">
                        {{ cohort.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Group/User</mat-label>
                <mat-select formControlName="groupOrUser" multiple>
                    <mat-option *ngFor="let groupOrUser of groupAndUserSelectOptions" [value]="groupOrUser.value">
                        {{ groupOrUser.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <section class="permissions-section" formGroupName="permissions">
                <label>Permissions</label>

                <div class="permissions-section--row" formGroupName="querySampleThreshold">
                    <mat-slide-toggle color="primary" name="querySampleThreshold" formControlName="checked" (change)="slideToggleChanged($event)"/>
                    Query must include at least
                    <mat-form-field>
                        <input matInput type="number" formControlName="value">
                    </mat-form-field>
                    samples
                </div>

                <div class="permissions-section--row" formGroupName="specificGroupInterval">
                    <mat-slide-toggle color="primary" name="specificGroupInterval" formControlName="checked" (change)="slideToggleChanged($event)"/>
                    Query every
                    <mat-form-field>
                        <input matInput type="number" formControlName="value">
                    </mat-form-field>
                    seconds by specific group user
                </div>

                <div class="permissions-section--row" formGroupName="anyGroupInterval">
                    <mat-slide-toggle color="primary" name="anyGroupInterval" formControlName="checked" (change)="slideToggleChanged($event)"/>
                    Query every
                    <mat-form-field>
                        <input matInput type="number" formControlName="value">
                    </mat-form-field>
                    seconds by any group user
                </div>

                <div class="permissions-section--row" formGroupName="maxQueryLimit">
                    <mat-slide-toggle color="primary" name="maxQueryLimit" formControlName="checked" (change)="slideToggleChanged($event)"/>
                    Between 0 and
                    <mat-form-field>
                        <input matInput type="number" formControlName="value">
                    </mat-form-field>
                    added to any query
                </div>

                <div class="permissions-section--row" formGroupName="accessWith">
                    <mat-slide-toggle color="primary" name="accessWith" formControlName="checked" (change)="slideToggleChanged($event)"/>
                    Automatic training access with
                    <mat-form-field>
                        <mat-select formControlName="value" class="access-with">
                            <mat-option *ngFor="let application of applications" [value]="application.value">
                                {{ application.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </section>
        </form>
    </mat-dialog-content>

    <mat-divider />

    <mat-dialog-actions class="dialog--footer">
        <button mat-raised-button color="secondary" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">{{ getSubmitButtonLabel() }}</button>
    </mat-dialog-actions>
</div>
