@import "projects/shared-lib/src/lib/styles/main.scss";

.permissions-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &--row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    mat-form-field {
      width: 40%;
      padding-inline: 5px;
    }
  }
}

.dialog--content {
  justify-content: flex-start;
}
