<div class="query-builder-item">
    <div class="item">
        <form>
            <mat-form-field class="columns">
                <mat-select placeholder="Columns">
                    <mat-option *ngFor="let column of columns" [value]="column.value">
                        {{ column.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="options">
                <mat-select placeholder="Options">
                    <mat-option *ngFor="let option of numberOptions" [value]="option.value">
                        {{ option.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="value">
                <input matInput placeholder="Value">
            </mat-form-field>
        </form>
    </div>

    <div class="item-buttons">
        <button mat-icon-button (click)="onRemoveQueryItem()">
            <mat-icon>remove_circle_outline</mat-icon>
        </button>
    </div>
</div>
