.test-table {
  margin-right: 55px;
  &--header {
    display: flex;

    .add-test-btn {
      margin-left: auto;
    }
  }
}

.mat-mdc-row:hover {
  cursor: pointer;
  background-color: #d8d8d8;
}


.icon{
  height: 24px !important;
  width: 24px !important;
  color: #6c757d;

  &--success{
    color: #1b981b;
  }
  &--error{
    color: #ff2110;
  }
}

