<h2 mat-dialog-title>Create new Project</h2>

<mat-dialog-content>

  <p>A project consists of a name, description, query information, selected data attributes, and your workflow.</p>
  <p>Should you initiate a federated learning process, this information will be shared with the participating hospitals. It is important to ensure that your inputs are clear and descriptive to facilitate understanding and collaboration with the institutions involved.</p>
  <p>Please note that all project details can be modified later if adjustments are required.</p>



  <form [formGroup]="newExperimentForm">
    <mat-form-field>
      <mat-label>Project Name</mat-label>
      <input matInput placeholder="My Project" formControlName="name" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="My Project Description" formControlName="description" required rows="5"></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="acceptProcess">I accept the process</mat-checkbox>
  </form>

  <mat-divider></mat-divider>
  <h4>Link Query</h4>
  <p>You can link a query to this project later</p>
  <div class="project-detail">
    <app-select-query
      [(queryId)]="queryId"
    ></app-select-query>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button [disabled]="newExperimentForm.invalid" (click)="onSubmit()">Create</button>
</mat-dialog-actions>
