<div id="store-container" class="store--container">
    <div class="store--container--content">
        <mat-grid-list [cols]="gridBreakpoint" rowHeight="3:4" gutterSize="10px">
            <mat-grid-tile *ngFor="let model of models" class="mat-elevation-z6" [routerLink]="[model.id]">

                <mat-card>
                    <mat-card-header>
                        <img mat-card-image [src]="model.imageUrl" alt="Model image">
                        <mat-card-title-group>
                            <mat-card-title>
                                <h3>
                                    {{ model.name }}
                                </h3>
                            </mat-card-title>
                        </mat-card-title-group>
                    </mat-card-header>
                </mat-card>

            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
