@if (detail(); as detail) {
  <lib-status-title [type]="projectStatusToBadgeStatus(detail.stepStatus!)">
    #{{ this.node.nodeId }} {{ name }}
  </lib-status-title>
  <mat-dialog-content>
    @if (experimentData(); as data) {
      <lib-experiment-workflow-node-detail [experimentData]="data!"
        [hideMetric]="false"
        [hideOutput]="false"
        [hideInput]="false"
        [hideController]="!(node.supportsFederatedLearning ?? false)" />
    } @else {
      <lib-skeleton-loader />
    }
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">{{ 'BUTTON.CLOSE' | translate }}</button>
  </mat-dialog-actions>
}
