.example-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
  padding: 15px;
  overflow: hidden;
}

.box {
  cursor: move;
  width: calc(50% - 15px);


  &--add{
    position: relative;
    min-height: 300px;

    button{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #5a5a5a;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.save-btn {
  margin-top: 15px;
  float: right;
}
