<div class="dialog">
    <h1 mat-dialog-title class="dialog--header">
        {{ getDialogTitle() }}
    </h1>

    <mat-divider />

    <div mat-dialog-content class="dialog--content">
        <app-local-app-dynamic-form
            #dynamicForm
            class="dynamic-form-component"
            [schemaData]="schemaData"
            [dynamicFormComponents]="schemaDynamicFormConfig"
            [errors]="validationErrors"
        ></app-local-app-dynamic-form>
    </div>

    <mat-divider />

    <div mat-dialog-actions class="dialog--footer">
        <button mat-raised-button color="secondary" (click)="onCancel()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">{{ getSubmitButtonLabel() }}</button>
    </div>
</div>
