<div class="container">
  <div class="action-buttons-row">
    <button mat-raised-button color="primary" (click)="onCreateQuery()">
      <mat-icon>add</mat-icon>
      Add a new query
    </button>
  </div>

  <table mat-table [dataSource]="dataSource"
         [class.is-x-small-screen]="isXSmallScreen">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Name:</span>
        <span>{{ element.name }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Description:</span>
        <span>{{ element.description }}</span>
      </td>
    </ng-container>


    <ng-container matColumnDef="queryString">
      <th mat-header-cell *matHeaderCellDef>Query string</th>
      <td mat-cell *matCellDef="let element" class="query-string-column">
        <span *ngIf="isXSmallScreen" class="column-name">Query string:</span>
        <span>{{ getQueryString(element) }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef>Result</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="isXSmallScreen" class="column-name">Result:</span>
        <span>{{ element.result }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="action-column">&nbsp;</th>
      <td mat-cell *matCellDef="let element" class="action-column">

        @if (!element.hasFired) {
          <button mat-icon-button [matMenuTriggerFor]="modelTableMenu"
                  [matMenuTriggerData]="{query: element}"
                  aria-label="Context Menu for each query">
            <mat-icon>more_vert</mat-icon>
          </button>
        } @else {
          <button mat-icon-button (click)="onEditQuery(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
        }

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-menu #modelTableMenu="matMenu">
    <ng-template matMenuContent let-query="query">
      <button mat-menu-item (click)="onEditQuery(query.id)">
        <mat-icon>edit</mat-icon>
        <p>Edit</p>
      </button>
      <button mat-menu-item (click)="onDeleteQuery(query.id)"
              [disabled]="query.projectId || query.hasResult || query.hasFired">
        <mat-icon>delete</mat-icon>
        <p>Delete</p>
      </button>
      <button mat-menu-item (click)="onRunQuery(query.id)"
              [disabled]="query.projectId || query.hasResult || query.hasFired">
        <mat-icon>play_arrow</mat-icon>
        <p>Run Query</p>
      </button>
      <button mat-menu-item [routerLink]="['/project', query.projectId]"
              [disabled]="!query.projectId">
        <mat-icon>account_tree</mat-icon>
        <p>Go to project</p>
      </button>
    </ng-template>
  </mat-menu>
</div>
